button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}
button:hover, button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
html {
  height: 100%;
  /*Image only BG fallback*/
  
  /*background = gradient + image pattern combo*/
  background: 
    linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
    color: aliceblue;
}
.new-form {
  /*width: 400px;*/
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.fieldset {
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  background:rgba(40,57,101,.9);
  border: 0 none;
  border-radius: 3px;
  
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  
  /*stacking fieldsets above each other*/
  position: relative;
}
.cartdata {
  background: blueviolet;
  color: ghostwhite;
  display: block;
  font-weight: 500;
}
.whether-button button {
  text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 0px 20px 0 20px;
    
    border-radius: 50%;
    border: 2px solid white;
    background: gray;
    width: 55px !important;
}
.temp {
  font-size: 30px;
  margin: 18px 18px;
  padding: 67px;
  border-radius: 50%;
  border: 2px solid white;
  width: 175px;
  background: getColor();
}
.whether-display {
  background: skyblue;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
  border-radius: 5%;

}
.container{
  width: 500px;
  padding: 22px;
  border-radius: 11px;
  box-shadow: 4px 4px 4px 4px lightsteelblue;
  margin: auto;
  margin-top: 22px;
  background: lightslategrey;
 /* background-image: url(currency.jpg);
  background-repeat: round;
  background-size: auto;*/
}
.currency{
font-size: large;
font-weight: 500;
}
.convertbtn button {
  background: linear-gradient(45deg, black, transparent);
}
.select{
  display: inline-flex;
  justify-content: center;
  gap: 27px;

}
.select select{
 width: 240px;
 padding: 4px; 
 font-size: 16px;
 border: 1px solid gray;
 border-radius: 2px;
 margin-top: 2px;
}
.select p{
  margin: 2px;
}
.amountContainer input{
  width: 240px;
 padding: 4px; 
 font-size: 16px;
 border: 1px solid gray;
 border-radius: 2px;
 margin-top: 2px;
}
.convertbtn{
  display: flex;
  justify-content: center;
}
.amountContainer{
  margin-bottom: 10px;
}
.result{
  text-align:  center;
  display: flex;
  justify-content: center;
}